@tailwind base;
@tailwind components;
@tailwind utilities;
.btn {
  @apply py-2 px-3 rounded active:ring active:ring-offset-1 transition duration-300;
}
input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }
  input {
    outline: none;
  }
  .fade {
    animation: fade 0.3s linear forwards;
  }

  .fadeIn {
    animation: fadeIn 0.3s linear forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.99);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fadeTop {
    animation: fadeTop 0.3s linear forwards;
  }
  @keyframes fadeTop {
    0% {
      opacity: 0;
      transform: scale(0.75) translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: scale(5) translateY(5px);
    }
  }